---
import Header from "@/components/Header.astro";
import Button from "@/components/Button.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import { AvatarDemo } from "@/components/AvatarDemo";

import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
---

<Layout title="Herramienta de diagnostico">
	<div class="flex-1 flex justify-center items-start flex-col gap-2">
	
		<div>
			<h1 class="text-2xl font-bold">Descripción</h1>
			<p>
				Para evaluar y calificar el nivel de madurez de los controles de
				gestión de acceso en una empresa peruana de servicios TI se
				desarrollo esta herramienta con la finalidad de calificar la
				prioridad y riesgos asociados con cada control de accesos,
				identificar oportunidades de mejora y proponer planes de acción
				correspondientes. Además, este documento brindará preguntas de
				verificación para asegurar la comprensión y aplicación adecuada de
				los controles, una serie de referencias documentales y herramientas
				prácticas para facilitar su implementación y cumplimiento.
				<br />
				<br />
				Así mismo, esta herramienta permite visualizar, por medio de un gráfico
				de indicadores, radial y barras, el nivel de madurez.
				<br />
				<br />
			</p>
		</div>
		<div class="flex flex-col w-full">
			<h1 class="text-2xl font-bold">Estructura del Modelo de Madurez</h1>
			<picture class="flex justify-center items-center w-full h-full">
				<img src="/maturitymodel.png" width="550" alt="" />
			</picture>
		</div>
		<div class="flex flex-col justify-center items-start w-full">
			<strong>Descargar:</strong>
			<div class="flex justify-center items-center w-full">
				<Button />
			</div>
		</div>
		
	</div>
</Layout>